<html>
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Fooriend</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            function searchContent() {
                if($('#searchWord').val == ''){
                    alert("검색어를 입력해주세요!!!");
                } else {
                    $('#searchAction').submit();
                }
            }
        </script>
    </head>
    <body>
       <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/?id=<%= user._id %>"> Fooriend </a>
                </div>
                <div class="search">
                    <form action="/search" class="navbar-form navbar-left" method="get" id="searchAction" name="searchAction">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="userId" name="userId" value="<%= user._id %>">
                            <input type="text" class="form-control" id="searchWord" name="searchWord">
                        </div>
                        <button class="btn btn-default"><a href="#" onclick="searchContent();"><div class="search_btn">Search</div></a></button>
                    </form>
                </div>
                <div class="navbar-right">
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            MENU
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/register?id=<%= user._id %>">맛집 등록</a></li>
                            <li><a href="/board?id=<%= user._id %>">맛집 게시판</a></li>
                        </ul>
                    </div>
                    <% if(user=='no'){ %>
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Log In & Sign Up
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                        </ul>
                    </div>
                    <% }else{ %>
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Log Out & Update
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="/information?id=<%= user._id %>">Information</a></li>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <br><br><br>
        <% if(user=='no'){ %>
        <% } else{ %>
        <h3 align="center"><%= user.nickname %>님 환영합니다!</h3>
        <% } %>
        <% if(store.length>0){ %>
        <table class="table">

            <tbody>
                <% var i=0; %>
                <tr>
                <% store.forEach(function(item){ %>
                <% i++; %>
                    <td align="center">
                        <img src="<%= item.images %>" width="200" height="200">
                        <h1> title : <%= item.title %></h1>
                        <h3> writer : <%= item.writer %></h3>
                        <p> kind : <%= item.kind %></p>
                        <p> 조회수 : <%= item.count %></p>
                    </td>
                <% if(i%3 == 0){ %>
                </tr>
                <tr>
                <% } %>
                
                <% }) %>
                </tr>
                <% } else{ %>
                <tr>
                    <td colspan="5" align="center">게시물이 없습니다.</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>