<html>
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Fooriend</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
       <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/?id=<%= user._id %>"> Fooriend </a>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <div class="navbar-right">
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            MENU
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/register?id=<%= user._id %>">맛집 등록</a></li>
                            <li><a href="/board?id=<%= user._id %>">맛집 게시판</a></li>
                        </ul>
                    </div>
                    <% if(user=='no'){ %>
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Log In & Sign Up
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                        </ul>
                    </div>
                    <% }else{ %>
                    <div class="btn-group">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                            Log Out & Update
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="/information?id=<%= user._id %>">Information</a></li>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <br><br><br>
        <% if(store.length>0){ %>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>작성날짜</td>
                        <td>조회수</td>
                    </tr>
                </thead>
                <tbody>
                    <% var i=0; %>
                    <% store.forEach(function(item){ %>
                    <% i++; %>
                    <tr>
                        <td class="number"><%= i %></td>
                        <td class="title"><a href="/store?id1=<%= item._id %>&id2=<%= user._id %>"><%= item.title %></a></td>
                        <td class="writer"><%= item.writer %></td>
                        <td class="date"><%= dateFormatChange(item.date) %></td>
                        <td class="cnt"><%= item.count %></td>
                    </tr>
                    <% }) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="5" align="center">게시물이 없습니다.</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <h4 align="center"><a href="/?id=<%= user %>">Home</a></h4>
    </body>
</html>
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>