<% include ./header.ejs %>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Fooriend
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Store name : <%= content.title %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Kind : <%= content.kind %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Address : <%= content.address %>
                            </label>
                        </div>
                    </div>
<<<<<<< HEAD
                    <div class="panel-body">
                        <form id="login-form">
                            <div>
                                <input type="text" class="form-control" name="title" placeholder="title" autofocus>
                            </div><br>
                            <div>
                                <label for="InputSubject1">파일첨부</label>
                                <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" data-icon-name="fa fa-upload" class="form-control" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="text" id="userfile" class="form-control" name="userfile">
                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                        <label for="fileInput" class="btn btn-default ">File Upload
                                            <span class="glyphicon fa fa-upload"></span>
                                        </label>
                                    </span>
                                </div>
                            </div><br>
                            <div>
                                <textarea class="form-control" rows="5" name="contents" placeholder="write contents"></textarea>
                            </div><br>
                            <div>
                                <button type="submit" class="form-control btn btn-success">등록</button>
                            </div>
                        </form>
=======
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Open Time : <%= content.opentime %> </label>
                            <label> / Close Time : <%= content.closetime %> </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Reservation : <%= content.reservation %> </label>
                            <label> / Phonenumber : <%= content.phonenumber %> </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Images :
                            </label>
                        </div>
>>>>>>> 4a59b3539593adebc4f2163440518c7748177c31
                    </div>
                </div>
            </div>
        </div>
<% include ./footer.ejs %>