<% include ./header.ejs %>
    <br><br><br>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Fooriend
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Store name : <%= content.title %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Writer : <%= content.writer %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Kind : <%= content.kind %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Address : <%= content.address %>
                            </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Open Time : <%= content.opentime %> </label>
                            <label> / Close Time : <%= content.closetime %> </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Reservation : <%= content.reservation %> </label>
                            <label> / Phonenumber : <%= content.phonenumber %> </label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label> Images :
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <% if(review.length>0){ %>
            <table class="table">
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>작성날짜</td>
                    </tr>
                </thead>
                <tbody>
                    <% var i=0; %>
                    <% review.forEach(function(item){ %>
                    <% i++; %>
                    <tr>
                        <td class="number"><%= i %></td>
                        <td class="title"><%= item.title %></td>
                        <td class="writer"><%= item.writer %></td>
                        <td class="date"><%= dateFormatChange(item.date) %></td>
                    </tr>
                    <% }) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="4" align="center">리뷰가 없습니다.</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <h4 align="center"><a href="/review?data1=<%= content._id %>&data2=<%= user %>">review</a></h4>
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>
<% include ./footer.ejs %>